.signup {
    margin-top:12.5em;
    display:flex;
    justify-content: center;
    flex-direction:column;
}

.signup > h1 {
    text-align:center;
}

.signup > form {
    display:flex;
    flex-direction:column;
}

.signup > form > input{
    max-width:50em;
    min-width:20em;
    border-radius:0.4em;
    border:1px solid lightgray;
    padding:1em;
    margin:1em auto;
}

.signup > form > input:hover{
    border-radius:0.4em;
    border:1.2px solid gray;
    padding:1em;
    margin:1em auto;
}

.signup > form > button {
    max-width:40em;
    min-width:10em;
    border-radius:0.4em;
    border:1px solid lightgray;
    padding:1em;
    margin:1.4em auto;
    background:blue;
    color:#ffffff;
    font-weight:700;

}

.signup_login {
    text-align:center;
    font-size:0.7em;
    text-decoration: none;
}

.signup_error {
    text-align:center;
    font-size:0.7em;
    color:red;
}